<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/AppStellr-13.png">

</head>
<body>
    <h2>Enter Report Data for User</h2>
    <form action="/logout" method="GET" style="background-color: unset; float: right; box-shadow: none;">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    
<form action="/admin/entry" method="POST" class="admin-form">
    <label for="user">Select User:</label>
    <select name="userID" id="user" required class="scrollable-select">
        <% users.forEach(user => { %>
            <option value="<%= user._id %>"><%= user.username %></option>
        <% }) %>
    </select>    
    
    <label for="date">Date:</label>
    <input type="date" name="date" required>

    <label for="feedID">Feed ID:</label>
    <input type="text" name="feedID" required>

    <label for="payout">Payout:</label>
    <input type="text" name="payout" required>

    <label for="searches">Searches:</label>
    <input type="number" name="searches" required>

    <label for="clicks">Clicks:</label>
    <input type="number" name="clicks" required>

    <button type="submit">Submit</button>
</form>
    <!-- Modal -->
    <div id="messageModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="modalMessage"></p>
        </div>
    </div>

    <script>
        function showMessage(message) {
            document.getElementById('modalMessage').innerText = message;
            document.getElementById('messageModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('messageModal').style.display = 'none';
        }
    </script>
</body>
</html>